@font-face {
  font-family: "Roboto Bold";
  src: url("./../font/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Regular";
  src: url("./../font/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
